### CRISP - DM Method
- Barry - Business Understanding
- Drove - Data Understanding
- Directly to the - Data Prep
- Medical - Modelling
- Emergency  - Evaluation
- Department - mDeployment

# 1. Business Understanding
- Forecasting transactions
- Likely regression
- Data for 3 years
- Advised data quality is okay

# 2. Data Undestanding

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/transactions.csv')

In [4]:
df.head()

   Year Month Cost Centre  Account Account Description Account Type    Amount
0  2019   Jan       CC100  1000000       Product Sales      Revenue  1344.051
1  2019   Jan       CC100  1000001   Licensing Revenue      Revenue   480.968
2  2019   Jan       CC100  1000002     Service Revenue      Revenue   650.820
3  2019   Jan       CC100  1000004         Fee Revenue      Revenue   339.360
4  2019   Jan       CC100  2000000   Cost of Good Sold      Expense  1125.328

# 3. Data Preparation

# 4. Modelling

# 5. Evaluation

# Deployment